.App {
  text-align: center;
}

.App .addTask .addBtn{
    background-color: lightskyblue;
    height: 40px;
    border-radius: 10px;
}

.inputBox{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border: 3px solid lightskyblue;
    border-radius: 5px;
  
}